aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
dataclasses-json==0.5.14
decorator==5.1.1
diskcache==5.6.3
exceptiongroup==1.1.3
fastapi==0.103.1
Flask==2.3.3
Flask-Cors==4.0.0
frozenlist==1.4.0
greenlet==2.0.2
h11==0.14.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
langchain==0.0.286
langsmith==0.0.35
llama-cpp-python==0.1.84
MarkupSafe==2.1.3
marshmallow==3.20.1
multidict==6.0.4
mypy-extensions==1.0.0
numexpr==2.8.6
numpy==1.25.2
openai==0.28.0
packaging==23.1
psutil==5.9.5
pydantic==2.3.0
pydantic-settings==2.0.3
pydantic_core==2.6.3
pyte==0.8.1
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.20
sse-starlette==1.6.5
starlette==0.27.0
tenacity==8.2.3
thefuck==3.32
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.23.2
wcwidth==0.2.6
Werkzeug==2.3.7
yarl==1.9.2
zipp==3.16.2
faiss-cpu==1.7.4
